.hero {
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.hero-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

.hero-image {
  position: relative;
  right: 0;
  top: 0;
  width: 110%;
  height: 100%;
  box-shadow: 0 0 50px 50px white inset;
}

.hero-overlay {
  background-color: black;
  opacity: 39%;
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-info h2,
.hero-info h1 {
  color: var(--white);
  text-align: center;
}

.hero-tag {
  display: grid;
  background: var(--secondary);
  border-radius: 100px;
  transform: rotate(-3.27deg);
  place-items: center;
  padding: 5px 30px;
}

.hero-info h5 {
  color: var(--white);
  margin-top: 15%;
  font-size: 16px;
  text-align: center;
}

.hero-flower-left,
.hero-flower-right {
  position: absolute;
}

.hero-flower-left {
  left: 0;
  width: 20%;
  top: 40%;
}

.hero-flower-right {
  right: -2%;
  width: 20%;
  top: 55%;
  transform: scaleX(-1);
}

.celebration {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-bottom: 250px;
  margin-top: 168px;
}

.celebration-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.celebration-text > p {
  margin: 39px 0 74px 0;
}

.celebration .indications {
  display: flex;
  align-items: center;
}

.celebration .indication {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.celebration .indication img {
  margin-right: 10px;
}

.celebration-image {
  height: 100%;
  width: 45%;
  margin-left: 90px;
}

.celebration button {
  margin-top: 39px;
  padding: 18px;
}

.celebration-flower {
  position: absolute;
  top: -60px;
  right: calc(-1 * var(--actual-padding-side) + 20px);
}

@media screen and (max-width: 750px) {
  .hero-text {
    width: 100%;
  }
  .celebration {
    margin-bottom: 100px;
  }
  .celebration-image,
  .celebration-flower {
    display: none !important;
  }
  .celebration-text > * {
    text-align: center;
  }
  .indications {
    justify-content: center;
  }
  .indication > p {
    font-size: 14px;
  }
}
