.localisation {
  margin-top: 66px;
  width: 100%;
}

.access {
  width: 100%;
  margin-top: 66px;
  position: relative;
}

.access-cards {
  display: flex;
  margin-top: 17px;
}

.access-card {
  height: 21rem;
  width: 19rem;
  margin-right: 67px;
  background-color: var(--white);
}

.access-card:last-child {
  margin-right: 0;
}

.access-card-content {
  padding: 20px 35px;
}

.access-card-content h4 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 5px;
}

.access-card-image {
  height: 50%;
}

.housing {
  width: 100%;
  margin-top: 66px;
  margin-bottom: 250px;
}

.housing-cards {
  display: flex;
  margin-top: 17px;
  flex-wrap: wrap;
}

.housing-card {
  height: 19rem;
  width: 20rem;
  margin-right: 67px;
  background-color: var(--white);
  margin-bottom: 20px;
}

.housing-card:last-child {
  margin-right: 0;
}

.housing-card-content {
  padding: 20px 35px;
}

.housing-card-content h4 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 5px;
}

.housing-card-image {
  height: 60%;
}

.housing h5 {
  margin-top: 20px;
}

.access-flower {
  position: absolute;
  top: 60px;
  right: calc(-1 * var(--actual-padding-side) + 30px);
}

@media screen and (max-width: 550px) {
  .access-flower {
    display: none;
  }
  .housing {
    margin-bottom: 100px;
  }
  .access-card,
  .housing-card {
    height: 17rem;
    display: flex;
    flex-direction: column;
  }
  .access-card {
    margin-right: 20px;
  }
  .access-card-image {
    height: 30%;
    flex: 1;
  }
  .housing-card {
    margin-right: 0;
    width: 100%;
    max-width: 20rem;
  }
  .housing-card-image {
    height: 30%;
    flex: 1;
  }
  .access-card-content {
    padding: 10px;
  }
  .housing-cards {
    flex-direction: column;
    align-items: center;
  }
}
