* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #fff;
  --black: #0d171e;
  --grey-dark: #656565;
  --grey: #c9c9c9;
  --grey-light: #f4f4f4;
  /* --grey-extra-light: #eaeeee; */
  --primary: #f2552c;
  --secondary: #f5b614;
  --tertiary: #468030;
  --quaternary: #a81950;
  --background: #fff4e9;
  --text: #0d171e;
  --footer-text: white;

  --scrollbar-background-color: var(--background);
  --scrollbar-thumb-color: var(--primary);
  --font-big: 'Always in My Heart';
  --font-small: Poppins;
  --border: 5px solid var(--black);
  --min-padding: 50px;
  --max-width: 1280px;
  --max-width-with-padding: 1380px;
  --actual-padding-side: max(calc(50vw - var(--max-width) / 2), var(--min-padding));
}

@font-face {
  font-family: 'Always in My Heart';
  src: local('Always in My Heart'), url('../fonts/Always in My Heart.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
}

.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

iframe {
  max-width: 800px;
  margin: 100px 0;
  border-radius: 12px;
}

h1,
h2,
h3,
h4 {
  color: var(--black);
  font-family: var(--font-big);
  font-weight: normal;
}

h1 {
  font-size: 80px;
  line-height: 100px;
  transform: translateX(-13px);
}

h2 {
  font-size: 70px;
  line-height: 80px;
  transform: translateX(-12px);
}

h3 {
  font-size: 48px;
  line-height: 57px;
  transform: translateX(-10px);
}

h4 {
  font-size: 35px;
  line-height: 50px;
  transform: translateX(-8px);
}

h5,
p,
small,
a,
button {
  color: var(--black);
  font-weight: normal;
  font-family: var(--font-small);
}

p {
  font-size: 17px;
  line-height: 24px;
}

small {
  font-size: 14px;
  line-height: 18px;
}

h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

button {
  font-weight: normal;
  font-family: var(--font-small);
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 37px;
  cursor: pointer;
  max-width: 100%;
  border-radius: 6px;
  transition: all 300ms ease;
  background: none;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 600;
}

button img {
  margin-right: 12px;
}

button:hover,
nav a:hover {
  text-decoration: underline;
}

img {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  line-height: 0px;
}

a:hover {
  color: var(--grey);
}

nav a {
  font-weight: normal;
  font-family: var(--font-small);
  font-size: 16px;
  line-height: 20px;
  margin-right: 39px;
}

select {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--font-small);
  transform: translateY(-0.125rem);
  outline: 0;
  cursor: pointer;
  color: var(--white);
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

option {
  background-color: var(--background);
  color: var(--black);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-background-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  border-left: var(--border);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 20px;
  border: 2px solid var(--scrollbar-background-color);
}

#app {
  min-height: 100%;
  background-color: var(--background);
  overflow: hidden;
  position: relative;
}

.with-margins {
  max-width: var(--max-width-with-padding);
  padding: 0 var(--min-padding);
  margin-left: auto;
  margin-right: auto;
}

#content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 40px;
}

header div {
  display: flex;
  align-items: center;
}

.select-icon {
  margin-right: 5px;
  margin-bottom: 1px;
}

header button {
  margin-left: 45px;
}

header nav {
  display: flex;
  flex: 1;
  color: var(--text);
}

header nav > a {
  text-align: center;
  color: var(--grey);
}

header nav .selected {
  color: var(--white);
}

#content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  padding-bottom: 45px;
  height: 359px;
}

footer p,
footer small {
  color: var(--footer-text);
}

.footer-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h3 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}

.footer-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom > * {
  flex: 1;
}

.footer-bottom small {
  text-align: right;
}

.social-media {
  margin-right: 34px;
}

.vip-switch,
.vip-indicator {
  margin-right: 20px;
  flex-shrink: 0;
  margin-right: 39px;
}

.vip-indicator small {
  color: var(--primary);
}

.vip-indicator img {
  width: 15px;
  margin-left: 5px;
}

.vip-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #000000ee;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-items: center;
}

.vip-overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vip-overlay img {
  position: absolute;
  right: var(--actual-padding-side);
  top: 3%;
  cursor: pointer;
  padding: 10px;
}

.vip-overlay h2 {
  color: var(--white);
}

.vip-overlay input {
  margin-top: 40px;
  padding: 10px;
}

.vip-overlay button,
.vip-overlay input {
  width: 100%;
}

.vip-overlay button {
  padding: 15px 0;
  margin-top: 40px;
}

input:focus-visible {
  outline: 1px solid var(--primary);
}

.error {
  color: #b00020;
  width: 100%;
  margin-top: 4px;
}

.border-primary,
.border-secondary,
.border-tertiary,
.border-quaternary {
  border: solid 2px var(--primary);
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--primary);
}

.border-secondary {
  border-color: var(--secondary);
  background-color: var(--secondary);
}
.border-tertiary {
  border-color: var(--tertiary);
  background-color: var(--tertiary);
}
.border-quaternary {
  border-color: var(--quaternary);
  background-color: var(--quaternary);
}
#burger-icon,
#burger-menu {
  display: none;
}

@media screen and (max-width: 1050px) {
  header {
    padding: 19px;
  }
  header nav {
    display: none;
  }
  #burger-icon {
    display: block;
    z-index: 9999;
    cursor: pointer;
  }

  #burger-icon:hover {
    opacity: 60%;
  }

  #burger-menu {
    display: block;
    position: absolute;
    z-index: 10000;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
  }

  #burger-menu-content {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
  }
  #burger-menu-content #burger-icon {
    padding: 19px;
  }

  #burger-menu-content > div {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  #burger-menu-content a {
    height: 30px;
    margin-bottom: 30px;
    color: var(--white);
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --min-padding: 20px;
  }
  h1 {
    font-size: 60px;
    line-height: 80px;
    transform: translateX(-11px);
  }

  h2 {
    font-size: 50px;
    line-height: 60px;
    transform: translateX(-10px);
  }

  h3 {
    font-size: 35px;
    line-height: 45px;
    transform: translateX(-10px);
  }

  h4 {
    font-size: 28px;
    line-height: 40px;
    transform: translateX(-8px);
  }

  h5 {
    font-size: 18px;
    line-height: 27px;
  }

  p {
    font-size: 15px;
    line-height: 20px;
  }

  small {
    font-size: 12px;
    line-height: 16px;
  }
  footer h3 {
    text-align: center;
    width: 100%;
  }
}
